.privacy {
    background-position: 50% 80px;
}

@media screen and (max-width:426px) {
    .privacy {
        background-position: 50% 200px;
    }
}
@media screen and (max-width:769px) {
    .privacy {
        background-position: 50% 100px;
    }
}
@media screen and (max-width:1025px) {
    .privacy {
        background-position: 50% 100px;
    }
}